SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_ANON_KEY=your-anon-key-here
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key-here

SUPABASE_PROJECT_ID=your-project-id
SUPABASE_S3_ACCESS_KEY=your-s3-access-key-here
SUPABASE_S3_SECRET_KEY=your-s3-secret-key-here
SUPABASE_BUCKET=raw-data

DB_HOST=aws-1-ap-southeast-1.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres.your-project-id
DB_PASSWORD=your-db-password-here
